.git
.gitignore
node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.env
.env.*
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
tests
public/hot
public/mix-manifest.json
.vite